*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url("https://img.freepik.com/free-photo/back-school-decoration-with-pencils-calculator-space_23-2147662344.jpg");
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-size: cover;
    text-align: center;
}


input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
#result {
    width: 212px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    text-align: right;
}